.logo {
  display: flex;
  justify-content: center;
}

.header {
  background-color: grey;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
  transition: all .3s;
}

.profile:hover {
  background-color: rgba(0, 0, 0, .025);
}

.sider {
  box-shadow: 2px 0 8px 0 rgb(29 35 41 / 5%);
}

.content {
  padding: 24px;
}