.logo {
  display: flex;
  justify-content: center;
}

.header {
  background-color: white;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  font-weight: 200;
  font-size: 30px;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
  transition: all .3s;
}

.profile:hover {
  background-color: rgba(0, 0, 0, .025);
}

.sider {
  box-shadow: 2px 0 8px 0 rgb(29 35 41 / 5%);
}

.content {
  padding: 24px;
  background-color: #fff;
}

.border_right {
  border-right: dashed 0.5px black;
}

.border_bottom {
  border-bottom: dashed 0.5px black;
}

.exchange_header {
  font-weight: bold;
  color: grey;
  background-color: lightgrey;
  line-height: 35px;
  text-align: center;
}

.exchange_content {
  line-height: 35px;
  max-height: 350px;
  overflow: scroll;
  text-align: center;
}

.sum_info {
  font-weight: bold;
}
