.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0;
}

.header h1 {
  font-family: ArmaliteRifle;
  font-size: 40px;
  color: #829074;
  text-align: center;
}

.header h2 {
  text-align: center;
}

.content {
  width: 100%;
  max-width: 1200px;
}

.product {
  cursor: pointer;
  text-align: center;
}

.product:hover {
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1)
}

.fbPage {
  margin: 16px 0;
  border: 1px solid #ccc;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #add8e6;
}
